@model NewEmployee.Models.tbl_city

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_city</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cit_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cit_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cit_couId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cit_couId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cit_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
